*{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  background-color: rgb(153, 255, 204);
  border: 5px solid #66ccff;
  padding: 20px;
}

header img{
  position: absolute;
  left: 20px;
  top: 20px;
  height: 10vh;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: #; */
}

nav{
  font-family: sans-serif;
  margin: 2vh;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

main{
  width: 100%;
  height: 85vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: floralwhite;
}



article{
  margin: 1.5vw;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  width: 70vw;
  height: 80vh;
  box-sizing: border-box;
  background-color: #ffffcc;
  border: 5px solid dodgerblue;
  overflow: auto;
  border-radius: 20px;
}

h2{
  margin: 20px;
  width: 70vw;
  display: flex;
  justify-content: center;
}


aside{
  margin: 1.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  width: 20vw;
  height: 80vh;
  background-color: orange;
  border: 5px solid lightgray;
  border-radius: 20px;
  overflow: auto;
}

h3{
  margin: 20px;
}

h5{
  margin: 5px;
}

section{
  height: 15vw;
  width: 15vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: floralwhite;
  border: 2px solid gray;
  border-radius: 20px;
}

article section button {
  background-color: lightskyblue;
  padding: 5px;
  
}

aside section button {
  background-color: red;
  padding: 5px;
}

section h4{
  margin: 15px;
  width: 14vw;
  display: flex;
  justify-content: center;
}